{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <h1>{{ title }}</h1>

    <p>You draw: {{ hand }}</p>

    <p>There are {{ count }} remaining cards in the deck:</p>
    <p> {{ deck }}</p>

    {% include "card_links.html.twig" %}
{% endblock %}